body{
    background-color: #1b1b1b;
    padding-top: 40px;
}
.form-signin {
    padding: 15px;
    margin:auto;
    margin-top:auto;
}
.panel-primary {
    background-color: azure;
    min-width: 580;
}
.fullscreen_bg {
    position: fixed;
    top: 900%;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 100%;
    background-image: url('http://i.imgur.com/h26izWg.jpg');
    background-repeat:repeat;
}