body{
    background-color: #1b1b1b;
    padding: 40px;
    margin: auto;
}
.form-signin {
    padding: 15px;
    margin:auto;
    margin-top:auto;
}
.panel-primary {
    background-color: azure;
    min-width: 580;
}
.fullscreen_bg  {
    position: fixed;
    padding-top: 5%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 100%;
    background-image: url('http://i.imgur.com/h26izWg.jpg');
    background-repeat:repeat;
}
.newitem {
    position: relative;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding-left: 22%
}
.newitemtable {
    background-color: azure;
    padding-top: 20rem;
    min-width: 580px;
}
.newitemtable input {
    padding: 10px; 
    width: 100%;
}
.addheader {
    text-align: center;
    padding: 1%;
}
.removeitem {
    background-color: azure;
    position: relative;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding-left: 22%
}
.rbtn {
    padding-right: 9px;
    padding-top: 9px;
    float: right;
}
.removeitemtable {
    background-color: azure;
    padding-top: 20rem;
    min-width: 580px;
}

