head{

 }

 body {
    background-image: "images/background";
    background-repeat: no-repeat; 
    background-size: cover;
    /* background-image: "images/border.jpg";
    background-clip:border-box;
    background-position: center; 
    color: antiquewhite;
    border-style: solid; */
 }

 #welcome{
    font-size: 300%;
    text-align: center;
 }

 #slideshow{
    position: relative;
    max-width: 1000px;
    max-height: 1000px;
 }