 
body {
    background-image: url("images/border.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    padding-top: 100px; 
 }

 #slideshow{
    position: relative;
    max-width: 1000px;
    max-height: 1000px;
 }

 #headerIntro {
    padding: 20rem;
    font-size: 16.5rem;
    color: darkslategray
 }
 
.aboutme{
    font-size: 500px;
    text-align: center;
}

.job{
    font-size: 40px;
}

.details{
    padding: 30px; 
}

 .major{
    font-size: 40px;
 }

 .town{
    font-size: 40px;
 }

 .hobbies{
    font-size: 40px;
 }

 .hobbylist {
    font-size: 30px;
 }

 .slideshow {
    text-align: center;
    padding: 50 px;
 }

 .shopping-title {
    padding-top: 150px;
    font-size: 550%;
    text-align: center;
 }
 .buttons{
    text-align: center;
 }

 .card-deck{
    padding: 150px; 
    padding-top:150px;
 }

 .card-text{
    color:black;
 }
 
 .btn{
    float: right;
 }

 .cart-btn {
    text-align: center;
    font-size: 200%;
    color: black;
    padding: 50px;
 }

 .cart-title {
    font-size: 5.5rem;
    text-align: center;
 }

 .shopping-cart {
    font-size: 2.5rem;
    text-align: center;
  }


  body{margin-top:20px;
    background:#eee;
}
h3 {
    font-size: 16px;
}
.text-navy {
    color: #1ab394;
}
.cart-product-imitation {
  text-align: center;
  padding-top: 30px;
  height: 80px;
  width: 80px;
  background-color: #f8f8f9;
}
.product-imitation.xl {
  padding: 120px 0;
}
.product-desc {
  padding: 20px;
  position: relative;
}
.ecommerce .tag-list {
  padding: 0;
}
.ecommerce .fa-star {
  color: #d1dade;
}
.ecommerce .fa-star.active {
  color: #f8ac59;
}
.ecommerce .note-editor {
  border: 1px solid #e7eaec;
}
table.shoping-cart-table {
  margin-bottom: 0;
}
table.shoping-cart-table tr td {
  border: none;
  text-align: right;
}
table.shoping-cart-table tr td.desc,
table.shoping-cart-table tr td:first-child {
  text-align: left;
}
table.shoping-cart-table tr td:last-child {
  width: 80px;
}
.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}
.ibox.collapsed .ibox-content {
  display: none;
}
.ibox:after,
.ibox:before {
  display: table;
}
.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 3px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}
.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}
.ibox-footer {
  color: inherit;
  border-top: 1px solid #e7eaec;
  font-size: 90%;
  background: #ffffff;
  padding: 10px 15px;
}