head{
    background: #000000 url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX3676349.jpg) 100% 100% no-repeat;
 }

 body {
    padding: 10px; 
    background-image: "images/border.jpg";
    background-clip:border-box;
    background-position: center; 
    background-repeat: no-repeat; 
    color: antiquewhite;
    border-style: solid;
 }

 #welcome{
    font-size: 300%;
 }

 #slideshow{
    position: relative;
    max-width: 1000px;
    max-height: 1000px;
 }